#skills {
  margin: 0 auto;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.skillDesc {
  font-weight: 200;
  font-size: 0.8rem;
  max-width: 50rem;
  padding: 0 2rem;
}

.skillBars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.skillBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(45,45,45)
}

#icon {
  margin-right: 2rem;
  margin-top: 1.75rem;
}

.skillBarText>p {
  font-size: 1rem;
  font-weight: 200;
}

.seeMoreBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  border-radius: 5rem;
}

#seeMoreIcn {
  margin-right: 0.25rem;
  color: black;
}

@media screen and (max-width:720px) {
  .skillBarText>p {
    font-size: 2vw;
  }
  .skillBarText>h2 {
    font-size: 6vw;
  }
}
