.fade-in-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  top: 0;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
  top: 0;
}
